<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true" logFile="proxylog.txt" >
    <serverUrls>
      <serverUrl url="http://localhost:6080/arcgis/rest/services" matchAll="true" username="xxxxx" password="xxxxx" tokenServiceUri="http://localhost:6080/arcgis/tokens/"/>
      <serverUrl url="http://localhost/arcgis/rest/services" matchAll="true" username="xxxx" password="xxxxx" tokenServiceUri="http://localhost/arcgis/tokens/"/>
      <serverUrl url="http://localhost/arcgis/rest/directories/arcgisoutput" matchAll="true" username="xxxx" password="xxxxx" tokenServiceUri="http://localhost/arcgis/tokens/"/>
    </serverUrls></ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
