#mapDiv {
    min-height: 100%;
    max-height: 100%;
}
#loadingImg {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
	z-index: 10000;
}



.panel-group .panel + .panel {
    margin-top: 0 /*Sovrascrive calcite-maps-bootstrap*/
}

table.table-info{
    width:100%;
}

	table.table-info td.field-label {
		font-weight: bold;
		font-size: 8pt;
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
		padding-right: 1rem;
	}
table.fields {
    width: 100%;
}

table.fields td {
    padding: 2px;
}

table.fields td.field-label {
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: bold;
}



td.ellipsis {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*display:block;*/
}

/* TOC LEGEND */
.legend-container ul {
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left:5px;

}

/* DIALOG */ 
.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
    cursor: move;
}
.ultrawide-dialog .modal-dialog {
    width: 1100px;
}

optgroup {
    text-transform:uppercase;
    font-weight:bold;
}

/* SPINNER */
.spinner {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 256px;
	height: 256px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
	margin: auto;
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner-md {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	width: 128px;
	height: 128px;
}

.spinner-sm {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	width: 64px;
	height: 64px;
}

.spinner-xs {
	border: 2px solid #f3f3f3;
	border-top: 2px solid #3498db;
	width: 32px;
	height: 32px;
}
/* END SPINNER*/

dl.dl-horizontal dt {
	text-align:left;
	width:100px;
	
	padding-right:1em;
}
.dl-horizontal dd {
	margin-left: 0;
}


p.section-title {
	font-size:10pt;
	font-variant: small-caps;
	font-weight: bold;
	border-bottom: 1px solid #006699;
}

span.info-label {
	padding-right: 4px;
}
span.info-value {
	border-bottom: 1px dotted #006699;
	/*background-color: #eee;*/
	font-weight: bold;
	width:100%;
	display:inline-block;
}
span.info-value::before {
	content: "\a0";
}

a.panel-heading::before {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: left;
	color: grey;
}

a.panel-heading.collapsed::before {
	content: "\e080";
}

.searchBox {
	/*background-image: url('images/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 8pt;
	padding: 5px 10px 5px 20px;
	border: 1px solid #ddd;
	margin-bottom: 5px;*/
}
.sidebar {
    position: fixed;
    display: block;
    top: 50px;
    bottom: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    min-height: 100%;
    max-height: none;
    background-color: #f5f5f5;
    padding: 5px;
}

.sidebar-left {
    left: 0;
    border-right: 1px solid #eee;
}

.sidebar-right {
    right: 0;
    min-width: 300px;
    max-width: 300px;
    border-left: 1px solid #eee;
}

.calcite-sidebar {
    
   
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #5bc0de;
}

.nav-sidebar > li > a:visited {
    background-color: #f5f5f5;
}

.nav-sidebar > li > a:hover {
    color: #428bca;
    /*background-color: lightgray;*/
}

.nav-sidebar > li > a:active {
    background-color: #f5f5f5;
}

/* OFF CANVAS */
/* css to override hiding the sidebar according to different screen sizes */
.row .sidebar.sidebar-left.sidebar-xs-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
}

/*right sidebar is untested */
.row .sidebar.sidebar-right.sidebar-xs-show {
    right: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
}

@media (min-width: 768px) {
    .row .sidebar.sidebar-left.sidebar-sm-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }

    /*right sidebar is untested */
    .row .sidebar.sidebar-right.sidebar-sm-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (min-width: 992px) {
    .row .sidebar.sidebar-left.sidebar-md-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }

    .row .sidebar.sidebar-right.sidebar-md-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (min-width: 1170px) {
    .row .sidebar.sidebar-left.sidebar-lg-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }

    .row .sidebar.sidebar-right.sidebar-lg-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }
}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
    -webkit-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.sidebar.sidebar-left.sidebar-open {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.sidebar.sidebar-right {
    -webkit-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
    -ms-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    transform: translate(100%,0);
}

.sidebar.sidebar-right.sidebar-open {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}