<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/main">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/bootstrap-dialog.min.css" />
    <include path="~/Content/font-awesome.min.css" />
  </styleBundle>

  <styleBundle path="~/Content/datatables">
    <include path="~/Content/DataTables/css/dataTables.bootstrap.min.css" />
  </styleBundle>
</bundles>